body{
    background: url(lamp.png) no-repeat;
    background-position: right;
    background-position-y: 10em;
}


input[type="text"], input[type="email"]{
    font-family: cursive, sans-serif;
    font-size: 16px;
    padding: 2px;display: block;
    width: 300px;
    border:none;
    border-bottom: 1.3px solid rgb(161, 35, 73);
}
select{
    font-family: cursive, sans-serif;
    font-size: 16px;
    padding: 10px;display: block;
    width: 320px;
    border:none;
    
}
#name, #surname, #faculty{
    padding: 7px;
}
.data{
    margin-left: 12em;
    margin-top: 10em;
    margin-bottom: 10em;
    width: 20em;
}
.data button {
    margin-left: 5em;
    background-color: rgb(161, 35, 73);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 3px;
}
.data button:hover {
    background-color: rgb(255, 251, 28); 
    color: rgb(161, 35, 73);
}
input[type="text"], input[type="email"]:focus{
    outline: none;
}
.bar{
    position: relative;
    display: block;
    width: 320px;
}
.bar::before, .bar::after{ 
    content: "";
    height: 2px;
    width: 0;
    bottom: 0;
    position: absolute;
    background: rgb(236, 12, 12);
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}
.bar::before{
    left: 50%;
}
.bar::after{
    right: 50%;
}
input[type="text"] :focus ~ .bar:before,
input[type="text"] :focus ~ .bar:after{
    width: 50%;
}
input[type="email"] :focus ~ .bar:before,
input[type="email"] :focus ~ .bar:after{
    width: 50%;
}

.endblock{
    height: 6em;
    position: relative;
    left: -18px;
    bottom: -8px;
    margin-right: -1.63em;
    text-align: center;
    background-color: white;
}
#linklp{
    padding-bottom: 1em;
    color: rgb(161, 35, 73);
}
#linklp:hover{
    color: rgb(133, 133, 133);
}
#end{
    padding-top: 1em;
    color: black;
}
label input {
    display: none;
}
label span {
    height: 9px;
    width: 9px;
    top: 2px;
    border: 0.5px solid rgb(216, 216, 216);
    display: inline-block;
    position: relative;
    background-color:#FFF;
    border-radius:2px;
    padding:3px;
}
[type=checkbox]:checked + span:before {
    content: '\2714';
    position: absolute;
    top: -5px;
    left: 0;
    font-size:17px;
    color:rgb(41, 0, 14);
}
.d6{
    height: 6em;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    background-color: rgb(161, 35, 73);
}
.d6 h1 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    padding-bottom: 10px;
    text-align: center;
}
#start{
    color: white;
}
.d6 h1:after {
    content: "";
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -20%;
    width: 40%;
    height: 2px;
    background: rgb(255, 251, 28); 
}
#tphl{
    font-family: cursive, sans-serif;
}
.border {
    list-style: none;
    padding: 0;
    }
.borderi{
    font-family: "Trebuchet MS", "Lucida Sans";
    padding: 3px 12px;
    margin-bottom: 10px;
    border-radius: 3px;
    border-left: 10px solid rgb(255, 251, 28); 
    box-shadow: 2px -2px 5px 0 rgba(0,0,0,.1),
         -2px -2px 5px 0 rgba(0,0,0,.1),
        2px 2px 5px 0 rgba(0,0,0,.1),
        -2px 2px 5px 0 rgba(0,0,0,.1);
    font-size: 17px;
    letter-spacing: 1px;
    transition: 0.3s all linear;
}
.radio{
    margin-left: 4em;
}
.radio label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;margin-right: 15px;
    font-size: 13px;
}
.radio input[type=radio] {
        display: none;
}
.radio label:before {
        content: "";
        display: inline-block;
        width: 16px;
        height: 16px;
        margin-right: 10px;
        position: absolute;
        left: 0;
        bottom: 1px;
        background-color: white;
        box-shadow: inset 0px 2px 3px 0px rgb(161, 35, 73), 0px 1px 0px 0px rgba(255, 255, 255, .8);
}
.radio label:before {
        border-radius: 8px;
}
input[type=radio]:checked + label:before {
        content: "\2022";
        color: rgb(161, 35, 73);
        font-size: 30px;
        text-align: center;
        line-height: 18px;
}


#myDiv{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    bottom: 0;
    height: 2em;
    width: 40em;
}
.main{
    position: relative;
}
table {
    border-spacing: 0;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}
td {
    vertical-align: middle;
    width: 1em;
    height: 0.5em;
    padding: 10px;
    font-size: 14px;
    text-align: center;
    border-top: 1px solid rgb(214, 190, 182);
    border-bottom: 1px solid rgb(214, 190, 182);
    border-right: 1px solid rgb(214, 190, 182);
    border-left: 1px solid rgb(214, 190, 182);
}
.main input[type="text"]{
    height: 2em;
    padding: 0;
    font-size: 14px;
    text-align: center;
    border-color: white;
    font-family: cursive, sans-serif;
    font-size: 16px;
    padding: 2px;display: block;
    width: 100px;
    border:none;
    border-bottom: 1.3px solid rgb(161, 35, 73);
}
.main h3{
    text-align: center;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: rgb(161, 35, 73);
}
